name: EC2 SSH Test

on: 
  push:
    branches: 
      - main

jobs:
  ssh-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
    
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{secrets.EC2_SSH_KEY}}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{secrets.EC2_HOST}} >> ~/.ssh/known_hosts
      
      - name: SSH into EC2
        run: |
          ssh ${{secrets.EC2_USER}}@${{secrets.EC2_HOST}} "echo 'Hello  from GitHub Actions'"