name: deploy with approval

on:
  push:
    - main 


jobs:
  prod-test:
    environment: Prod
    runs-on: ubuntu-latest
    steps:
      - name: production test 
        run: echo "Testing successfully"