name: deploy with approval

on:
  push:
    branches:
      - main

jobs:
  dev-deploy:
    environment: Dev
    runs-on: ubuntu-latest
    steps:
      - name: Use Dev stage
        run: |
          echo "Dev stage successful"

  stg-deploy:
    needs: dev-deploy
    environment: Stg
    runs-on: ubuntu-latest
    steps:
      - name: Use Stg stage
        run: |
          echo "Stg stage successful"

  prod-deploy:
    needs: stg-deploy
    if: |
      success() &&
      github.ref == 'refs/heads/main'
    environment: Prod
    runs-on: ubuntu-latest
    steps:
      - name: Use Prod stage
        run: |
          echo "Prod stage successful"
